.DS_Store
trash.disabled
chef*/chef/checksums
emacs*/emacs-backup/**
emacs*/emacs_backups/**
emacs*/emacs_autosaves/**
trash.disabled
ruby/pry_history
postgres/psql_history
local/local/share/autojump
ssh
