.DS_Store
trash.disabled
chef*/chef/checksums
emacs*/emacs-backup/**
emacs*/emacs_backups/**
emacs*/emacs_autosaves/**
ssh
emacs.disabled/eshell/history
config/config/Binreader/Binreader.ini
config/config/Binreader/queue.qzb
config/config/Binreader/queue.qzb.old

/* Don't persist sensitive info! */
**/*history
zsh/zsh-update
karabiner/karabiner.d/log/console_user_server_log.txt
**/*.~undo-tree~
space/spacemacs.d/.persistent-scratch
config/config/**/*
vim/janus/**
vim/janus
/test.py
